<div class="kpi-entry-container">
  <!-- Tabs -->
  <!-- <div class="tabs"> -->
    <!-- <button class="tab active">KPI Entry</button> -->
    <!-- <button class="tab">History</button> -->
    <!-- <button class="tab">Drafts</button> -->
    <!-- <button class="tab">Self Rating</button> -->
    <!-- HTML -->
<!-- <label class="toggle">
  <input type="checkbox" class="toggle-input" (change)="onToggle($event)" />
  <span class="toggle-track">
    <span class="toggle-thumb"></span>
  </span>
</label> -->

<!-- </div> -->

  <!-- Header -->
  <div class="entry-header">
    <div>
      <h1>KPI Entry</h1>
      <p>Enter actual performance values for Users</p>
    </div>
    
  <!-- <div class="user-box">
  <div>
    <div class="avatar">{{ selectedEmployee?.employeeName[0] || '' }}</div>
    <div>
      <span class="user-name">
        {{ selectedEmployee?.employeeName || "Select Employee" }}
      </span>
      <span class="user-id">
        {{ selectedEmployee?.employeeCode }} {{ selectedEmployee?.gradeLevel }}
      </span>
    </div>
  </div>
</div> -->

<div class="month-picker">
  <label for="monthSelect">Select Month</label>
  <select
    id="monthSelect"
    [(ngModel)]="selectedPeriod"
    (change)="onPeriodSelect($event)"
  >
    <option value="" disabled selected>Select Period</option>

    <option *ngFor="let p of periods" [ngValue]="p">
      {{ getMonthName(p.evaluationMonth) }} {{ p.evaluationYear }}
    </option>
  </select>
</div>


  </div>

  <div class="entry-layout">
    <!-- KPI Table -->
<div class="table-section">
  <div class="table-wrap">
    <table class="kpi-table">
      <thead>
        <tr>
          <th>KPI</th>
          <th>Weight</th>
          <th>Target</th>
          <th>Actual</th>
          <th>Achieved%</th>
          <th>PLIP Score</th>
          <th>Weightage</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kpi of kpiProfiles; let i = index">
          <!-- KPI Name, Unit & Formula -->
          <td>
            <strong>{{ kpi.kpiName }}</strong>
            <p class="muted">{{ kpi?.measurementUnit }} • {{ kpi?.formulaCode | uppercase }}</p>
          </td>

          <!-- Weight -->
          <td>{{ kpi.weightage }}%</td>

          <!-- Target Input -->
          <td>
            <input type="number" [disabled]="isSubmitted" #targetInput [value]="kpi.targetValue"/>
          </td>

          <!-- Actual Input -->
          <td>
            <input type="number" [disabled]="isSubmitted" #actualInput [value]="kpi.actualValue"/>
          </td>

          <!-- Achieved % -->
          <td>{{kpi?.achievedPercentage | number: '1.2-2'}}%</td>

          <!-- PLIP Score -->
          <td>{{kpi?.plipScore}}</td>

          <!-- Weightage -->
          <td>{{kpi?.weightageAchieved}}%</td>

          <!-- Status -->
          <td>
            <span class="status">
              {{kpi?.entryStatus}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Action Buttons -->
  <div class="action-buttons">
    <!-- <button class="btn-outline" (click)="submitKpiEvaluation('draft')">Save as Draft</button> -->
    <button class="btn-primary" (click)="submitKpiEvaluation('submit')">Submit</button>
  </div>
</div>


    <!-- Sidebar -->
    <div class="sidebar">
      

      <div class="summary-card">
        <h3>{{getMonthName(summary.evaluationMonth)}} Summary</h3>
        <div class="summary-row">
          <span>Projected Pay</span>
          <strong>₹6{{summary?.projectedPay || ''}}</strong>
        </div>
        <div class="summary-rows">
          <div class="left-row">
            <span>Total KPIs</span>
            <strong>{{summary?.totalKpis || 0}}</strong>              
          </div>
          <div class="right-row">
            <span>Completed</span>
            <strong class="strong">{{summary?.completedKpis || 0}}</strong>              
          </div>          
        </div>
        <div class="summary-rows">
          <div class="left-row">
            <span>Pending</span>
            <strong>{{summary?.pendingKpis || 0}}</strong>             
          </div>
          <div class="right-row">
            <span>Achieved Weightage</span>
            <span class="strong">{{summary?.achievedWeightage || 0}}%</span>             
          </div>          
        </div>
      </div>

      <div class="summary-card" *ngIf="lastApprovedReference">
  <h3>
    Last Month Reference - {{ lastApprovedReference?.currentEvaluationMonth }} /
    {{ lastApprovedReference?.currentEvaluationYear }}
  </h3>

  <div class="reference-list">
    <ng-container *ngFor="let ref of lastApprovedReference.kpiReferences; let i = index">
      <li [class.right]="i % 2 === 1">
        <span class="head" [class.right]="i % 2 === 1">{{ ref.kpiName }}</span>
        <div class="values" [class.right]="i % 2 === 1">
          <ng-container *ngIf="i % 2 === 0">
            <strong>{{ ref.lastApprovedPercentage | number : '1.0-0' }}%</strong>
            <span
              class="change"
              [ngClass]="{
                'up': ref.changeDirection === 'up',
                'down': ref.changeDirection === 'down'
              }"
            >
              {{ ref.changeDirection === 'up' ? '↑' : '↓' }}
              {{ ref.changeAmount | number : '1.0-0' }}%
            </span>
          </ng-container>

          <ng-container *ngIf="i % 2 === 1">
            <span
              class="change"
              [ngClass]="{
                'up': ref.changeDirection === 'up',
                'down': ref.changeDirection === 'down'
              }"
            >
              {{ ref.changeDirection === 'up' ? '↑' : '↓' }}
              {{ ref.changeAmount | number : '1.0-0' }}%
            </span>
            <strong>{{ ref.lastApprovedPercentage | number : '1.0-0' }}%</strong>
          </ng-container>
        </div>
      </li>
    </ng-container>
  </div>
</div>

    </div>
  </div>
</div>
<app-toaster></app-toaster>