<div class="performance-container">
  <!-- Header -->
  <div class="header">
    <div>
      <h1>Performance Profiles</h1>
      <p>Manage job-specific KPI configurations and assignments</p>
    </div>
    <button class="btn-create" (click)="openModal()">+ Create Profile</button>
  </div>

  <!-- Layout -->
  <div class="profiles-layout">
    <!-- Left: Available Profiles -->
    <div class="profiles-list">
      <h2>Available Profiles</h2>
      <p class="subtitle">Click on a profile to view detailed configuration</p>

      <div class="table-wrap">
        <!-- Top controls: Search + Filters -->
        <div class="container-search">
          <span class="p-input-icon-left">
            <i class="pi pi-search search-i"></i>
            <input
              class="search-input"
              pInputText
              type="text"
              (input)="applyGlobalFilter($event, 'contains')"
              placeholder="Search Profile by Name..."
            />
          </span>
          
           <div class="rows-selector">
              <p-dropdown
                id="rows"
                [options]="rowsOptions"
                [(ngModel)]="rows"
                (onChange)="dt.reset()"
                optionLabel="label"
                optionValue="value"
              ></p-dropdown>
            </div>

        </div>
 
        <!-- Table -->
        <p-table
          #dt
          [value]="performanceProfiles"
          [paginator]="true"
          [rows]="rows"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} profiles"
          [globalFilterFields]="['profileName','profileDescription','baseVariablePay']"
        >
          <!-- Headers -->
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="profileName">
                Profile Name <p-sortIcon field="profileName"></p-sortIcon>
              </th>
              <th>Levels</th>
              <th pSortableColumn="kpis">
                KPIs <p-sortIcon field="kpis"></p-sortIcon>
              </th>
              <th pSortableColumn="baseVariablePay">
                Department <p-sortIcon field="baseVariablePay"></p-sortIcon>
              </th>
              <th pSortableColumn="isActive">
                Variable Pay <p-sortIcon field="isActive"></p-sortIcon>
              </th>
              <th>Actions</th>
            </tr>
          </ng-template>

          <!-- Rows -->
          <ng-template pTemplate="body" let-profile>
            <tr>
              <td class="tooltip-cell">
                <strong>{{ profile.profileName }}</strong>
                <p class="muted">{{ profile.profileDescription }}</p>
              </td>
              <td class="tooltip-cell">
                {{ profile.departmentGradeMappings?.length
                  ? profile.departmentGradeMappings[0].gradeLevel
                  : 'N/A' }}
              </td>
              <td class="tooltip-cell">{{ profile.kpiCount || 0 }} KPIs</td>
              <td class="tooltip-cell">
                {{ profile.departmentGradeMappings?.length
                  ? profile.departmentGradeMappings[0].departmentName
                  : 'N/A' }}
              </td>
              <td class="tooltip-cell">
                <span>
                  {{ profile.baseVariablePay ?? 0 }}
                </span>
              </td>
              <td>
                <p-overlayPanel #op styleClass="actions-overlay">
                  <div class="action-options-container">
                    <ng-container *ngFor="let option of actionOptions">
                      <div
                        class="action-option-item"
                        (click)="selectAction(option, profile, op)"
                      >
                        <span class="option-label">{{ option.label }}</span>
                      </div>
                    </ng-container>
                  </div>
                </p-overlayPanel>
                <button
                  pButton
                  type="button"
                  class="actions-button"
                  (click)="op.toggle($event)"
                >
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </button>
              </td>
            </tr>
          </ng-template>

          <!-- Empty Message -->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center font-bold">No Performance Profiles Found</td>
            </tr>
          </ng-template>


        </p-table>
      </div>
    </div>

    <!-- Right: Profile Details -->
    <div class="profile-details">
      <h2>Profile Details</h2>
      <p class="subtitle">View detailed configuration</p>

      <div class="profile-card">
        <!-- Check if selectedProfile exists -->
        <ng-container *ngIf="selectedProfile; else noProfile">
          <div class="profile-card-content">
            <div class="profile-header">
              <strong>{{ selectedProfile.profileName }}</strong>
            </div>
            <div class="profile-info">
              <p>
                <span>Description</span>
                <span class="tooltip-cell" tooltipPosition="top" [pTooltip]="selectedProfile.profileDescription">{{ selectedProfile.profileDescription || 'No description available' }}</span>
              </p>
              <p>
                <span>Levels</span>
                <span class="tooltip-cell" tooltipPosition="top" [pTooltip]="selectedProfile.departmentGradeMappings?.[0]?.gradeName">{{ selectedProfile.departmentGradeMappings?.[0]?.gradeName || 'N/A' }}</span>
              </p>
              <p>
                <span>Variable Pay</span>
                ₹{{ selectedProfile.baseVariablePay ?? 0 }}
              </p>
            </div>
            <h3>KPI Assignments</h3>
            <div class="kpi-assignments" *ngIf="selectedProfile.kpis?.length; else noKpi">
              <div class="kpi-box" *ngFor="let kpi of selectedProfile.kpis">
                <div>
                  <strong>{{ kpi.kpiName }}</strong>
                  <p>Range: {{ kpi.kpiMinRange }} - {{ kpi.kpiMaxRange }}</p>
                </div>
                <strong>{{ kpi.weightage }}%</strong>
              </div>
            </div>
            <ng-template #noKpi>
              <p>No KPIs assigned</p>
            </ng-template>
          </div>
        </ng-container>

        <!-- Else block if no profile is selected -->
        <ng-template #noProfile>
          <div class="profile-card-content">
            <div class="search-icon">
              <img src="assets/search-cicon.png" alt="No Profile">
            </div>
            <div class="no-profile-container">
              <span>No Profile Selected</span>
              <span>Select a profile from the list to view its detailed configuration and KPI assignments.</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Create Profile Modal -->
<div class="modal-overlay" *ngIf="showCreateProfile" (click)="closeModal()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>{{ isEditMode ? 'Edit Existing Profile' : 'Create New Profile' }}</h2>
    </div>

    <form [formGroup]="createProfileForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <!-- Basic Info -->
        <div class="form-row">
          <div class="form-group">
            <label>Profile Name <span class="required">*</span></label>
            <input
              type="text"
              formControlName="profileName"
              placeholder="Medical Coding - Quality Analysts"
              class="form-control"
            />
            <small class="error" *ngIf="isInvalid('profileName')">
              Profile name is required.
            </small>
          </div>
          <div class="form-group">
            <label>Description <span class="required">*</span></label>
            <input
              type="text"
              formControlName="profileDescription"
              placeholder="Productivity metrics for Medical Coding"
              class="form-control"
            />
            <small class="error" *ngIf="isInvalid('profileDescription')">
              Description is required.
            </small>
          </div>
        </div>

        <!-- Department + Level + Variable Pay -->
        <div class="form-row">
          <div class="form-group">
            <label>Department <span class="required">*</span></label>
            <p-dropdown
              [options]="departments"
              formControlName="departmentId"
              optionLabel="departmentName"
              optionValue="id"
              placeholder="Select Department"
              [filter]="true"
              filterBy="label"
              class="w-full md:w-80">
            </p-dropdown>
            <small class="error" *ngIf="isInvalid('departmentId')">
              Department is required.
            </small>
          </div>

          <div class="form-group">
            <label>Level <span class="required">*</span></label>
            <p-dropdown
              [options]="levels"
              formControlName="gradeId"
              optionLabel="gradeName"
              optionValue="id"
              placeholder="Select Level"
              [filter]="true"
              filterBy="label"
              class="w-full md:w-80">
            </p-dropdown>
            <small class="error" *ngIf="isInvalid('gradeId')">
              Level is required.
            </small>
          </div>

          <div class="form-group">
            <label>Variable Pay <span class="required">*</span></label>
            <input
              type="number"
              formControlName="baseVariablePay"
              placeholder="₹1500"
              class="form-control"
            />
            <small class="error" *ngIf="isInvalid('baseVariablePay')">
              Variable Pay is required.
            </small>
          </div>
        </div>
                                        
        <!-- KPI Assignments -->
        <div class="kpi-section">
       
              <div class="self-rating-container">
                <h3>Add KPI to Profile</h3>
              </div>
              <div class="self-rating">
                <!-- <label class="toggle">
                  <input type="checkbox" formControlName="selfRatingEnabled" />
                  <span class="slider"></span>
                </label>
                <span class="label-text">Enable Self Rating</span> -->
              </div>
            </div>

            <div [formGroup]="newKpiForm" class="kpi-form-row">
              <div class="kpi-form-firdiv">
                <!-- <label>KPI</label>
                <select formControlName="kpiId" class="form-control">
                  <option value="">Select KPI</option>
                  <option *ngFor="let k of kpiMasterList" [value]="k.id">
                    {{ k.kpiName }}
                  </option>
                </select> -->
                <label>KPI <span class="required">*</span></label>
                <p-dropdown
                  [options]="kpiMasterList"
                  formControlName="kpiId"
                  optionLabel="kpiName"
                  optionValue="id"
                  placeholder="Select KPI"
                  [filter]="true"
                  filterBy="label"
                  class="w-full md:w-80">
                </p-dropdown>
              </div>
              <div class="kpi-form-secdiv">
                <div>
                  <label>Min Score Range</label>
                  <input type="number" formControlName="kpiMinRange" placeholder="Min" />
                </div>
                <div>
                  <label>Max Score Range</label>
                  <input type="number" formControlName="kpiMaxRange" placeholder="Max" />
                </div>
                <div>
                  <label>Qualification Criteria</label>
                  <input type="number" formControlName="kpiQualifyCriteria" placeholder="Qualify" />
                </div>
                <div>
                  <label>Weightage</label>
                  <input type="number" formControlName="weightage" placeholder="%" />
                </div>
              </div>
              <div class="kpi-form-thidiv">
                <button type="button" (click)="addKpiAssignment()">
                  <img src="assets/plus.svg" alt="Add" />
                </button>
              </div>
            </div>

            <!-- KPI Preview Section -->
            <div class="kpi-preview" *ngIf="kpiAssignments.length > 0; else noPreview">
              <div *ngFor="let kpi of kpiAssignments.value; let idx = index" class="preview-row">
                <div *ngIf="kpi.kpiId" class="preview-align">
                  <div class="preview-info">
                    <strong>{{ getKpiNameById(kpi.kpiId) }}</strong>
                    <p>
                      Min Score: {{ kpi.kpiMinRange }}<span class="dot"></span>
                      Max Score: {{ kpi.kpiMaxRange }}<span class="dot"></span>
                      Qualification Criteria: {{ kpi.kpiQualifyCriteria }}
                    </p>
                  </div>
                  <div class="preview-weight">
                    <span>
                      <p>{{ kpi.weightage }}%</p>
                    </span>
                    <span>
                      <button type="button" class="clear-btn" (click)="removeKpiAssignment(idx)">
                        <img src="assets/trash.svg" alt="Delete" />
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- No Preview Template -->
            <ng-template #noPreview>
              <div class="kpi-preview modal-search-icon">
                <div class="search-icon">
                  <img src="assets/search-cicon.png" alt="No KPI" />
                </div>
                <div class="no-profile-container modal-search">
                  <span>No KPIs Added</span>
                  <span>Add KPIs to this profile to view them here.</span>
                </div>
              </div>
            </ng-template>
            <div class="weightage-container">
              <div class="weightage-text">Total Weightage</div>
              <div [ngClass]="{
              'green-text': hundredCheck == 100,
              'red-text': hundredCheck < 100 && hundredCheck != 0,
              'weightage-num': hundredCheck == 0
                    }">{{hundredCheck}}%</div>
            </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-create" [disabled]="createProfileForm.invalid">
          {{ isEditMode ? 'Update Profile' : 'Create Profile' }}
        </button>
      </div>
    </form>
  </div>
</div>

<app-toaster></app-toaster>